:root {
  --primary-color: #151b29;
  --secondary-color: #ff8500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  
}
header {
  background-color: var(--primary-color);
  color: white;
}
.dropdown a {
  text-decoration: none;
}
header ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: white;
}
ul li {
  font-size: 1.2rem;
}
a:hover {
  color: var(--secondary-color);
}

.logo img {
  object-fit: contain;
}
.bg-warning {
  background-color: var(--secondary-color) !important;
}
.coaches {
  color: white;
  text-decoration: none;
}
h1 {
  font-size: 2.2rem;
}
.b1 {
  padding: 12px 15px;
  border-radius: 5px;
}
.b1 {
  background-color: var(--secondary-color) !important;
  color: white !important;
  border: 2px solid var(--secondary-color);
}

.b1:hover {
  background-color: transparent !important;
  color: var(--secondary-color) !important;
}
.eng::after {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(img/Vector2.png) no-repeat center center;
  background-size: contain;
  margin-left: 10px;
}
nav ul {
  padding: 0;
  margin: 0;
}
main {
  background: url(img/Hero.png) no-repeat center center;
  color: white;
  background-size: cover;
  height: 700px;
}
main h1 {
  font-size: 5rem;
}
main .container {
  top: 77px;
  right: 145px;
}
.pick-sports {
  background-color: var(--primary-color);
}
.p-6 {
  padding: 5rem 3rem 1rem 3rem;
}
.cards .card {
  background-color: transparent;
}
.card h3 {
  color: var(--secondary-color);
}
.card p {
  color: white;
}
.imgRadius img {
  border-radius: 10px;
  overflow: hidden;
  width: 260px;
  height: 350px;
}
.cards h3 {
  padding: 30px 0 3px;
}
.cards p {
  font-size: 1rem;
}
.sec3 {
  background-color: var(--primary-color);
}
.sec4 {
  background-color: var(--primary-color);
}
.pick {
  font-size: 3.5rem;
}

.text {
  width: 17vw;
  margin: auto;
}
.card {
  border: none;
}
.card button,.sec5 button {
  position: relative;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background: transparent;
  padding: 4px 78px;
  overflow: hidden;
  z-index: 1;
  transition: color 0.4s linear;
  border-radius: 5px;

}

.card button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--secondary-color);
  z-index: -1;
  transition: width 0.5s ease;
}

.card button:hover {
  color: var(--primary-color);
}

.card button:hover::before {
  width: 100%; 
}
.para{
  padding: 7rem;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
.sec3{
  background: url(img/Sub-hero.png) no-repeat center center;
  height: 120vh;
}
.sec3 h2,.sec4 h2 {
  font-size: 3.5rem;
}
summary{
  background-color: #1C2534;
  
}
.sec5{
  background: url(img/normal.png) no-repeat center center;
  background-position: cover;
  background-color: #151b29 0.3;
}
.heading{
  font-size: 3.5rem;
}
.card1 img{
  width: 300px;
  height: auto;


}