* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --primary-color: #0c0c0c;
  --font-size: 1rem;
  --padding: 10px;
}
nav {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 50vw;
}
.menu,
ul {
  display: grid;
  grid-auto-flow: column;
  gap: 25px;
  align-items: center;
  justify-content: end;
  padding: 15px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: grey;
  font-size: 14px;
}
.btn {
  cursor: pointer;
  background-color: white;
  border-radius: 20px;
  padding: 12px 20px;
  border: 1px solid grey;
  font-weight: 700;
}
.line {
  width: 0.1px;
  background-color: 1px solid gray;
}
.hrule {
  height: 1px;
  border: none;
  background: #dad5d5;
}
.heading {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 30px;
  padding: 20px 5px;
}
h1,
h2,
h3 {
  font-size: 22px;
  font-weight: 500;
}
h4 {
  font-size: 13px;
  font-weight: 600;
  padding: 10px 5px;
}
p {
  color: rgb(185, 183, 183);
  font-size: 14px;
  padding: 5px 3px;
}
main {
  width: 78vw;
  margin: auto;
}
.gallery {
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
  justify-content: center;
  margin: 10px 0 120px;
}
.cards img {
  border-radius: 5px;
  object-fit: cover;
}

.cards h3 {
  font-weight: 100;
  font-size: 18px;
  padding-top: 8px;
}
.grid {
  display: grid;
  grid-auto-flow: column;
  gap: 35px;
  margin-bottom: 80px;
}
.card {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  padding: 20px 0;
}
.card img {
  border-radius: 5px;
  object-fit: cover;
}
.trending {
  background-color: var(--primary-color);
  color: white;
  padding: 100px 150px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 30px;
  margin-bottom: 80px;
}
hr {
  height: 1px;
  border: none;
  background: #323030;
}
.top-picks {
  width: 78vw;
  margin: auto;
}
.mainPicture {
  grid-area: mainpic;
}
.sidePicture {
  grid-area: sidepic;
}
.sidePicture1 {
  grid-area: sidepic1;
}
.pictures {
  display: grid;
  grid-template-areas:
    "mainpic sidepic"
    "mainpic sidepic1";
  grid-template-columns: 2fr 1fr;
  gap: 36px;
  margin-bottom: 90px;
}
.pictures img {
  object-fit: cover;
  border-radius: 5px;
}
.img {
  position: relative;
}
.content {
  position: absolute;
  bottom: 16px;
  padding: 5px 120px 0 20px;
}
.content h3 {
  color: white;
  padding: 10px 0;
}
.revolution {
  padding: 30px 150px;
  display: grid;
  grid-template-columns: 7fr 1fr;
  align-items: center;
  gap: 10px;
}
.btn1 {
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  padding: 12px 20px;
  border: 1px solid grey;
  font-weight: 700;
}
footer {
  background-color: var(--primary-color);
  color: white;
}
.grid2 {
  padding: 50px 150px;
  display: grid;
  grid-auto-flow: column;
  align-items: start;
  gap: 10px;
}
.grid2 a {
  display: block;
  color: white;
  text-decoration: none;
  list-style: none;
  padding: 8px 5px;
}
footer h5 {
  color: gray;
  font-weight: 500;
  font-size: 16px;
}
.ContactDetails a {
  align-items: center;
}
.signup input[type="email"] {
  padding: 7px 20px;
  border: none;
  border-radius: 5px;
  margin: -4px;
}
.signup img {
  position: relative;
  top: 10px;
  right: 5px;
}
.end {
  text-align: center;
  padding: 14px;
}
