* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --primary: #f83d8e;
  --secondary: #683292;
}
.flex {
  display: flex;
  justify-content: space-around;
}
ul {
  list-style: none;
  width: 532.28px;
  height: 32px;
  margin-top: 19px;
}
a {
  text-decoration: none;
  color: black;
}
img {
  object-fit: scale-down;
}
nav {
  width: 100%;
  height: 70px;
  padding: 22px;
}
.icons {
  width: 125.28px;
  height: 32px;
  margin: 19px 10px 0 0;
}
.dropdown {
  display: inline-block;
  transform: scaleX(1.8);
}
.hasDrop {
  position: relative;
}
.drop {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100px;
  height: 100px;
}
.drop ul {
  padding-left: 20px;
  line-height: 25px;
}
.hasDrop:hover .drop {
  display: block;
  background-color: var(--secondary);
  color: white;
}
.img0 {
  position: relative;
}
.zero {
  background-color: var(--secondary);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: white;
  text-align: center;
  position: absolute;
  left: 12px;
  bottom: 7px;
}
.btn {
  width: 168px;
  height: 52px;
  margin-top: 9px;
  border-radius: 30px;
  color: white;
  background-color: var(--primary);
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 10px var(--primary);
  font-weight: 700;
}
ul li:first-child a {
  color: var(--primary);
}
ul li a:hover {
  color: var(--primary);
}
button:not(.btn1):hover {
  background-color: var(--secondary);
  box-shadow: 2px 2px 10px var(--secondary);
}
.btn1 {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
.btn1 .input {
  display: none;
}
.btn1:hover .input,
.btn1:hover input {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 15px;
  border: 2px solid var(--secondary);
  border-radius: 5px;
}
main {
  height: 100%;
  background: linear-gradient(
    to bottom left,
    #efd7ef 0%,
    #f5f9fc 30%,
    #f8eae1 60%,
    #eaf8f9 100%
  );
  position: relative;
}
.image {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: white;
  position: relative;
}
.image:hover {
  box-shadow: 2px 2px 40px var(--secondary);
}
.image img {
  position: absolute;
  left: 20px;
  object-fit: contain;
}
.container1 {
  margin: 100px auto 50px;
}
.content h1 {
  font-size: 5rem;
}
.content {
  width: 35vw;
  margin: 80px 0 30px;
}
.content h1,
h2,
span {
  font-family: "Berkshire Swash";
}
.firstp::before {
  content: "";
  width: 64px;
  height: 5px;
  background-color: #683292;
  display: inline-block;
  border-radius: 2px;
  margin-right: 10px;
}
.content .firstp {
  font-size: 2.5rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  font-family: "Berkshire Swash";
}
.lastp {
  width: 34vw;
  margin: 15px 0;
  font-size: 1.2rem;
}
.flex1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.iceCream {
  color: var(--primary);
}
#btn3 {
  width: 290px;
  height: 52px;
  margin-top: 9px;
  border-radius: 30px;
  color: white;
  background-color: var(--secondary);
  cursor: pointer;
  border: none;
  background-color: var(--secondary);
  box-shadow: 2px 2px 10px var(--secondary);
  font-weight: 500;
}
#btn3:hover {
  background-color: var(--primary);
  box-shadow: 2px 2px 10px var(--primary);
}
.tilt {
  position: absolute;
  opacity: 0.1;
  bottom: 50vh;
}
#wavy {
  height: 10vh;
  background-image: url(/images/wavy.png);
  background-repeat: repeat-x;
  background-size: auto 87px;
}
.heading2 {
  font-size: 3rem;
}
.content1 {
  width: 30vw;
  margin: 180px 109px 90px 40px;
}
.container2 {
  position: relative;
}
.circle {
  width: 420px;
  height: 420px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom left,
    #efd7ef 0%,
    #f5f9fc 30%,
    #f8eae1 60%,
    #eaf8f9 100%
  );
  position: relative;
}
.girl {
  position: absolute;
  top: -50px;
  right: -5px;
}
.girlImage:hover .circle{
  box-shadow: 2px 2px 25px var(--primary);
}
.btn2 {
  width: 200px;
  height: 52px;
  margin-top: 9px;
  border-radius: 30px;
  color: white;
  background-color: var(--primary);
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 10px var(--primary);
  font-weight: 700;
}

#arrow,
#dot,
#design,
#design1 {
  position: absolute;
}
#design1 {
  bottom: 0;
  right: 40px;
  width: 10vw;
  height: 4vw;
}
#design {
  top: 320px;
  left: 22px;
  width: 12vw;
  height: 15vh;
}
#dot {
  top: 60px;
  left: 500px;
  width: 12vw;
  height: 15vh;
}
#arrow {
  top: 280px;
  right: 100px;
  width: 12vw;
  height: 15vh;
}
