@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.heading {
  font-family: "lobster", cursive;
}
:root {
  --primary-color: #222831;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carousel_indicator {
  right: 852px;
  bottom: 50px;
}
